body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: #f9fafb;
  font-size: 30px;
}
.card {
  width: 500px;
  border-radius: 20px;
  padding: 50px;
  margin: 50px auto;
  background-color: white;
  height: 500px;
  text-align: center;
}

.head {
  font-size: 46px;
  margin-bottom: -40px;
}

.sub-head {
  font-size: 24px;
  color: #666;
  margin-top: -30px;
}

.profiles {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}
.option:hover {
  background-color: #e2e6ea;
}

.icon {
  margin-right: 10px;
  font-size: 25px;
}
.text {
  font-size: 22px;
}
.arrow {
  font-size: 30px;
  color: white;
}
.option:hover .arrow {
  color: #888;
}
.bottom-text {
  font-size: 22px;
  color: #999;
}

/* card3 */

.card3 {
  width: 500px;
  border-radius: 20px;
  padding: 50px;
  margin: 50px auto;
  background-color: white;
  height: 800px;
  text-align: center;
}
.header {
  font-size: 53px;
}

.sub-header {
  font-size: 24px;
  color: #666;
  margin-top: -40px;
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(127, 158, 236);
  font-size: 16px;
}
.input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 4px #b3a7ff;
  outline: none;
}

.btn {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background-color: #6c63ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
